body {

}
.favicon {
    height: 20px;
    width: 20px;
}
.main {
    background: url(../images/network.svg) no-repeat right, linear-gradient(180deg, #0f3057, #e7e7de);
    height: 100vh;
    display: grid;
}
.main-text {
    font-family: SourceCodePro-Italic;
    place-self: center;
}
.main-name {
    text-align: center;
}
/* CSS FOR ABOUT SECTION */

.about {
    background: linear-gradient(180deg, #e7e7de, #0f3057);
}
.about-flex {
    display: flex;
    flex-flow: row wrap;
}
.about-training, .about-work, .about-personal {
    border-radius: 15px;
    padding: 10px;
    background: white;
    text-align: center;
    width: 100%;
    place-self: end;
}

.div-link {
    text-decoration: none;
}
.link {
    text-decoration: underline
}

/* CSS FOR CONTACT SECTION */
.contact {
    height: 100vh;
    display:grid;
    background: linear-gradient(180deg, #0f3057, #e7e7de);
}
.contact-main {
    position: relative;
    place-self: center;
    border-radius: 15px;
    background: white;
    text-align: center;
    margin: 10px;
    padding: 10px;
}
.contact-main-text {
    margin: 10px;
    color: #00587a;
    font-family: SourceCodePro;
}
.contact-table {
    margin: 0 auto;
}
