.heading {
    display: grid;
    grid-template-columns: 1fr 3fr;
    padding: 10px;
    background: linear-gradient(180deg, #00587a, #e7e7de);
    box-shadow: 0 5px 10px #00587a, 0 6px 6px #e7e7de;
    border-radius: 5px;
}
.heading-text {
    margin: auto;
    margin-left: 20px;
}
.experience {
    display: grid;
    grid-template-columns: 2fr 2fr;
}
.work-experience {
    margin: 10px 10px 0 0;
    padding: 0 10px 0 10px;
    background: #e7e7de;
    box-shadow: 0 5px 10px #00587a, 0 6px 6px #e7e7de;
    border-radius: 5px;
}
.teaching {
    margin: 10px 0 0 0;
    padding: 0 10px 0 10px;
    background: #e7e7de;
    box-shadow: 0 5px 10px #00587a, 0 6px 6px #e7e7de;
    border-radius: 5px;
}
.profile_picture {
    border-radius: 50%;
}

.years {
    white-space: nowrap;
}