.container-text {
    margin: 20px 20% 0 20%;
}
.about-box {
    flex: 1 0 33%;
    min-height: 20vh;
}
.about {
    height: 100vh;
}
.contact-main {
    width: 50%;
}
.about-flex {
    padding: 100px;
}
.about-box {
    flex: 1 0 33%;
    min-height: 20vh;
}