body {
    font-family: SourceCodePro, Arial, sans-serif;
    color: #000070;
    margin: 0;
}
@font-face {
    font-family: SourceCodePro;
    src: url(fonts/SourceCodePro-Regular.ttf);
    }
@font-face {
    font-family: SourceCodePro-Italic;
    src: url(fonts/SourceCodePro-Italic.ttf);
}
.container, .container-text{
    display: grid;
    grid-template-columns: 1fr;
}
nav {
    display: block;
    background: #00587a;
    margin-bottom: 10px;
    box-shadow: 0 5px 10px #00587a, 0 6px 6px #e7e7de;
    border-radius: 5px;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

}
nav li {
    float: left;
    width: 50%;
}
nav li a {
  display: block;
  padding: 8px;
  margin: 1px;
  text-align: center;
  color: #e7e7de;
  background-color: #00587a;
}
a, a.visited, a.hover {
    color: #0f3057
}
h1, h2, h3, h4, h5, h6 {
    color: #0f3057;
}
table {
    border-spacing: 5px;
    border-collapse: separate;
    table-layout: fixed;
}
thead {
    font-weight: bold;
}
/* NORMAL */
@media (min-width: 900px) {
    .container-text {
        margin: 20px 20% 0 20%;
    }
    .about-box {
        flex: 1 0 33%;
        min-height: 20vh;
    }
    .about {
        height: 100vh;
    }
    .contact-main {
        width: 50%;
    }
    .about-flex {
        padding: 100px;
    }
    .about-box {
        flex: 1 0 33%;
        min-height: 20vh;
    }
}


/* MOBILE */

@media (max-width: 900px) {
    .container-text {
        margin: 0 0 0 0;
        max-width: 100%;
        width: 100%;
    }
    .contact-main {
        width: 80%;
    }

    .about-box {
        flex: 1 0 100%;
        min-height: 20vh;
    }
    .about-flex {
        justify-content: center;
    }
    .about-box {
        flex: 1 0 80%;
        min-height: 25vh;
        max-width: 80%;
        margin: 10 5 px;
    }
    body {
        font-size: 80%;
    }
    .empty {
        display: none
    }
}
