body {
    width: 100%;
}
@media (max-height: 800px) { 
    p {
        font-size: 10px;
      } 
 }
.nav {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    width: 100%;
    background: rgb(45, 196, 255);
    box-shadow: 0 2px 0 grey;
    top: 0;
    left: 0;
    z-index: 10;
}
.navlist {
    display: flex;
    margin-right: 2rem;
}
nav ul {
    list-style: none;
}
nav li { 
    display: inline;
}
.welcome-section { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}
.projects { 
    display: Flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}
#myprojects {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    
}
.project-tile { 
    width: 100px;
    height: 100px;
    background: rgb(45, 196, 255);
    color: white;
}
.projects a {
    color: white;
}
